body{
      width:100vw;
      height: 100vh;
      background-color: black;
      display:flex;
      /* align-content: center;
      justify-content:center; */
      position: relative;
}
.container{
      position: relative;
      width:100vw;
      min-width:500px;
      height: 100vh;
      display:flex;
      align-items: center;
      justify-content:center;
      background-color: black;
}
.sun{
width:100px;
height:100px;
background-color: yellow;
border-radius: 50%;
box-shadow:0px 1px 1px 2px rgb(249, 244, 244);
}
.earth{
position: absolute;
width:60vh;
height:60vh;
border-style:solid;
border-width:0.5px ;
border-radius:50%;
border-color: white transparent transparent transparent;
animation:orbit 5s linear infinite;

}
.earth::before{
content:'';
position: absolute;
top:15px;
right:50px;
width:60px;
height:60px;
background-image:linear-gradient(green,aqua);
border-radius: 50%;
}
@keyframes orbit{
to{
  transform:rotate(300deg)
}
}

.moon{
position: absolute;
width:15vh;
height:15vh;
top:-3px;
right:30px;
border-style:solid;
border-width:0.5px ;
border-radius:50%;
border-color: white transparent transparent transparent;
animation:orbit 5s linear infinite;
}
.moon::before{
position: absolute;
content:"";
width:15px;
height:15px;
background-color: blue;
content:'';
position: absolute;
top:11px;
right:0px;
background-color: silver;
border-radius: 50%;

}